.main {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    aspect-ratio: 1600 / 840;
    position: relative;
}

.main .navegacao {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 17%;
    height: 7%;
    display: flex;
    align-items: center;
    gap: 1%;
}

.main .navegacao a {
    width: 31%;
    height: 100%;
}

.main .navegacao a img {
    width: 100%;
    height: 100%;
}

.main .selecao-ligue {
    align-self: center;
    justify-self: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;

}

.main .selecao-ligue .img-ligue {
    margin-bottom: 2%;
    width: 30%;
}

.main .selecao-ligue .selecao-modo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    width: 60%;
    height: 65%;

}

.main .selecao-ligue .selecao-modo a {
    width: 20%;
}

.main .selecao-ligue .selecao-modo a img {
    width: 100%;
    height: 100%;
}


.main .selecao-jogos {
    text-align: center;
}

.main .selecao-jogos p {
    color: #B9B9B9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;
    padding-top: 5%;
}


.main .containerLigue .canvas {
    position: absolute;
    width: 92%;
    height: 80%;
    top: 12%;
    left: 4%;
}

.main .containerLigue .coluna1,
.main .containerLigue .coluna2 {
    top: 12%;
    /* gap: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 7%;
    height: 80%;
    /* height: 30%; */
    position: absolute;
    z-index: -1;
    border: 1px solid red;
}

.main .containerLigue .coluna1 {
    left: 5%;
}

.main .containerLigue .coluna2 {
    right: 5%;
}

.main .containerLigue .coluna1 img,
.main .containerLigue .coluna2 img {
    border: 1px solid blue;
}

@media (min-width: 1780px) {
    .main {
        aspect-ratio: 1600 / 800;
    }
}

@media (max-height: 425px) {
    .main {
        aspect-ratio: 1600 / 690;
    }

    .main .containerLigue .coluna1,
    .main .containerLigue .coluna2 {
        width: 6%;
        height: 30%;
        gap: 20px;
    }
}